#walrus-showing {
  display: none;
}

.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}

#pirate {
  display: none;
}

.cat {
  cursor: pointer;
  color: #0088cc;
}

.cat:hover {
  text-decoration: underline;
}
